.container {
	margin-bottom: 100px;
}

.my-center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
	float: none;
}

.search-meta-info {
	margin-top: 30px;
}

.search-result-container {
	margin-top: 30px;
}