.search-meta-info {
	margin-top: 30px;
}

.search-result-container {
	margin-top: 30px;
}

#advanced-search {

	margin-top: 30px;

	.checkbox {
		display: inline-block;
		width: 33%;
	}

	label {
		font-weight: bolder;
	}
}
