<template name="history">
	<div id="content">
		{{> appNav}}

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 my-center-block">
					<h1>History</h1>
					{{#if getHistory}}
					<div class="list-group">
						{{#each getHistory}}
							{{> singleHistory}}
						{{/each}}
					</div>
					{{/if}}
				</div>
			</div>
		</div>

		{{> footer}}
	</div>

</template>

<template name="singleHistory">
	<a data-toggle="collapse" href="#{{this._id}}" class="list-group-item">
		Searched for <a href="{{getQueryLink}}">{{this.query}}</a>
		<i class="fa fa-angle-double-right" aria-hidden="true"></i>
		<span class="text-muted pull-right">{{this.timestamp}}</span>
	</a>
	<div class="collapse" id="{{this._id}}">
		<div class="well">

			<p>
				<a class="pull-right" target="_blank" href="{{getQueryLink}}">Re-run same query</a>
			</p>

			{{{showMetaInfo}}}

			<p>
				{{#if getIndices}}
					<strong>Source:</strong>
					{{#each getIndices}}
						<a target="_blank" href="{{url}}">{{label}}</a>
					{{/each}}
				{{/if}}
			</p>

			{{#each getActivities}}
				<div class="row search-result">
					<div class="col-lg-12">
						<a target="_blank" href="{{this.meta.url}}"><strong>{{this.meta.title}}</strong></a>
						<p class="text-success text-small">{{this.meta.url}}</p>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</template>