<template name="search">

	<div id="content">
		{{> appNav}}

		<div class="container">

			<div class="row search-form">
				<div class="col-lg-12">
					<form id="search-form" data-toggle="validator" method="get" action="/search">
						<div class="input-group form-group has-feedback">
							<input required type="text" name="q" id="js-q" class="form-control input-lg" placeholder="Search for keywords or URLs ..." value="{{existingQuery}}" data-value="{{existingQuery}}" />
							<span class="input-group-btn">
				                <button disabled="true" class="btn btn-primary btn-lg" id="js-q-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					        </span>
						</div>
						<a href="#advanced-search" class="pull-right" data-toggle="collapse">Advanced Search</a>
						<div id="advanced-search" class="collapse">
							{{#if getIndices}}
								<div class="row">
									<div class="col-lg-12">
										{{#each getIndices}}
											<div class="checkbox">
												<label>
													{{{renderCheckbox this}}}
												</label>
											</div>
										{{/each}}
										<div class="help-block with-errors"></div>
									</div>
								</div>
							{{/if}}
							<hr />
							{{#if getTags}}
								<div class="row">
									<p class="notice col-lg-6 bg-info text-info text-center my-center-block">
										Searches (Tag Cloud) related to {{existingQuery}}
									</p>
									<div id="tag-cloud" class="col-lg-6 my-center-block">
										{{#each getTags}}
											<a rel="{{count}}" href="/search/?q={{encodedTag}}">{{tag}}</a>
										{{/each}}
									</div>
								</div>
							{{/if}}
						</div>
					</form>
				</div>
			</div>

			<div class="row search-meta-info">
				<div class="col-lg-12">
					{{#if totalDocuments}}
						<p class="text-info">About {{totalDocuments}} results ({{timeTook}} milliseconds)</p>
					{{/if}}

					{{#if showNoResultsFound}}
						<p class="text-muted">No results found for this query.</p>
					{{/if}}

					{{#if showSpinner}}
						<p class="col-lg-1 my-center-block text-warning">
							<i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
						</p>
					{{/if}}

				</div>
			</div>

			<hr />

			<div class="row search-result-container">
				<div class="col-lg-12">
					{{#each searchResults}}
						{{> searchResult}}
					{{/each}}
				</div>
			</div>

			<div class="row search-result-pagination">
				<div class="col-lg-12">
					{{#if showPagination}}
						<nav>
							<ul class="pagination pagination-lg">
								<li>
									<a href="{{getPaginatedURL 0}}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{{#each getPaginatedLinkMeta}}
									<li class="{{isActivePageLink}}"><a href="{{link}}">{{page}}</a></li>
								{{/each}}
								<li>
									<a href="{{getPaginatedURL -1}}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					{{/if}}
				</div>
			</div>

		</div>

		{{> footer}}

	</div>

</template>

<template name="searchResult">
	<div class="row search-result" id="{{this._id}}">
		<div class="col-lg-12">
			<a target="_blank" href="{{searchResultLink}}"><strong>{{this._source.title}}</strong></a>
			<p class="text-success text-small">{{this._source.url}}</p>
			{{#if this._source.meta}}
				<p>{{this._source.meta}}</p>
			{{else}}
				<p>{{textContent this._source.text}}</p>
			{{/if}}
		</div>
	</div>
</template>