<template name="settings">
	<div id="content">
		{{> appNav}}

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 my-center-block">
					<h1>Settings</h1>

					{{> settingsAlert}}

					{{> quickForm
						id="user-settings"
						schema="Schemas.userSettings"
						type="method"
						meteormethod="saveUserSettings"
						template="bootstrap3"
						afFieldInput-placeholder="schemaLabel"
						doc=getUserSettings
					}}
				</div>
			</div>
		</div>

		{{> footer}}
	</div>

</template>

<template name="settingsAlert">
	{{#if getSuccessMessage}}
	<div class="alert alert-success admin-alert">
		{{getSuccessMessage}}
	</div>
	{{/if}}

	{{#if getErrorMessage}}
	<div class="alert alert-danger admin-alert">
		{{getErrorMessage}}
	</div>
	{{/if}}

	{{resetMessages}}
</template>